<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main">
    <app-topbar></app-topbar>
    <div class="content">
      <app-leagues-sidebar></app-leagues-sidebar>
      <div class="content__info" [class.extra-info-is-hidden]="!extraInfoDisplay">
        <div class="content__info__tabs">
          <div class="content__info__tabs__tab" [class.active-tab]="activeTab === 'futebol'" (click)="changeTab('futebol')">
            <img class="content__info__tabs__tab__image" src="../assets/soccer-ball.png" alt="soccer ball">
            futebol
          </div>
          <div class="content__info__tabs__tab" [class.active-tab]="activeTab === 'campeonatos'" (click)="changeTab('campeonatos')">campeonatos</div>
          <div class="content__info__tabs__tab" [class.active-tab]="activeTab === 'desempenho'" (click)="changeTab('desempenho')">desempenho</div>
        </div>
        <div class="content__info__main">
          <div class="content__info__main__header">
            <div class="header__sport-title">
              <img src="../assets/soccer-ball-orange.png" alt="soccer ball">
              <div class="orange-line"></div>
              <div class="header__sport-title__div">
                <h2>Futebol</h2>
                <span>Sexta-feira, dia 07 de agosto de 2020</span>
              </div>
            </div>
            <div class="header__games-total">
              <span>total de jogos:</span>
              <span class="header__games-total__total">23 jogos</span>
            </div>
          </div>
          <div class="content__info__main__tabs">
            <div (click)="changeInfoActiveTab('todos-os-jogos')" [class.info-active-tab]="infoActiveTab === 'todos-os-jogos'">Todos os jogos</div>
            <div (click)="changeInfoActiveTab('ao-vivo')" [class.info-active-tab]="infoActiveTab === 'ao-vivo'">Ao Vivo</div>
            <div (click)="changeInfoActiveTab('agendado')" [class.info-active-tab]="infoActiveTab === 'agendado'">Agendado</div>
            <div (click)="changeInfoActiveTab('encerrado')" [class.info-active-tab]="infoActiveTab === 'encerrado'">Encerrado</div>
          </div>
          <div class="content__info__main__league">
            <div class="league__header">
              <img src="../assets/uefa-champions-transparent.png" alt="uefa chamipons league" class="league__header__image" />
              <div class="league__header__title-div">
                <span>Europa</span>
                <div class="league__header__title-div__title">UEFA - Liga dos Campeões</div>
              </div>
            </div>
            <div class="league-match-list">
              <app-league-match (displayExtraInfo)="viewExtraInfo()"></app-league-match>
              <app-league-match (displayExtraInfo)="viewExtraInfo()"></app-league-match>
              <app-league-match (displayExtraInfo)="viewExtraInfo()"></app-league-match>
              <app-league-match (displayExtraInfo)="viewExtraInfo()"></app-league-match>
            </div>
          </div>
        </div>
      </div>
      <app-match-details *ngIf="extraInfoDisplay" (displayExtraInfo)="viewExtraInfo()"></app-match-details>
    </div>
  </div>
</div>