<div class="topbar">
  <div class="topbar__app-name">Livescores</div>
  <div class="topbar__search">
    <input placeholder="Pesquisar" type="text">
    <div class="topbar__search__searchIcon">
      <img class="topbar__search__searchIcon__icon" src="../assets/search-icon-grey.png" alt="search">
    </div>
  </div>
  <div class="topbar__user">
    <div class="topbar__user__notification"></div>
    <div class="topbar__user__name">Diogo M.</div>
    <div class="topbar__user__settings">DM</div>
  </div>
</div>